<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button side="start" type="overlay"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      mode="ios"
      placeholder="Search"
      (ionChange)="onSearchChange($event)"
      [debounce]="800"
      animated
      autocomplete="on"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading; else showUsers"></ion-spinner>
  <ng-template #showUsers>
    <ion-list>
      <ion-item *ngFor="let user of users" (click)="openProfilePage(user.id)">
        <ion-avatar slot="start">
          <img src="https://placekitten.com/200/200" />
        </ion-avatar>
        <ion-label>
          <h3>{{ user.firstName }} {{ user.lastName }}</h3>
          <p>@{{ user.username }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
