<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
    <ion-icon class="ion-padding" color="primary" name="alert" size="large" slot="end"></ion-icon>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input name="username" ngModel required type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                #passwordCtrl="ngModel"
                minlength="6"
                name="password"
                ngModel
                required
                type="password"
              >
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label>
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-button
              [disabled]="!f.valid"
              color="primary"
              expand="block"
              shape="round"
              type="submit"
          >
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
