<ion-content padding style="text-align: center; top: 20%;">
  <ion-card style="box-shadow: none; -webkit-box-shadow: none;">
    <ion-item lines="none">
      <ion-icon name="alert" color="primary" size="large" slot="start"></ion-icon>
      <ion-label style="font-weight: bold; font-size: 1.5rem">Speak up your mind!</ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title style="font-weight: bold">Join Us Today!</ion-card-title>
    </ion-card-header>
    <ion-button color="primary" expand="block" shape="round" routerLink="/auth/login"
      >Log IN</ion-button
    >
    <ion-button color="primary" expand="block" shape="round" routerLink="/auth/register"
      >Sign UP</ion-button
    >
  </ion-card>
</ion-content>
