<ion-header>
  <ion-toolbar>
    <ion-title>Add Post</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label position="floating">Write here...</ion-label>
      <ion-textarea [(ngModel)]="body" rows="5" name="body" required></ion-textarea>
    </ion-item>
    <app-image-picker
      [showPreview]="image != ''"
      (imagePick)="onImagePicked($event)"
    ></app-image-picker>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button type="submit" (click)="onCreatePost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
