<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button side="start" type="overlay"></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading; else showPosts"></ion-spinner>
  <ng-template #showPosts>
    <ion-virtual-scroll [items]="posts" approxItemHeight="180px">
      <div *virtualItem="let post">
        <app-post-item [post]="post"></app-post-item>
      </div>
    </ion-virtual-scroll>
    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
