<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button side="start" type="overlay"></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading; else showPosts"></ion-spinner>
  <ng-template #showPosts>
    <app-post-item *ngFor="let p of posts" [post]="p"></app-post-item>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
