<ion-card style="margin: 8px">
  <ion-item>
    <ion-avatar slot="start">
      <ion-img [src]="'https://placekitten.com/100/100'"></ion-img>
    </ion-avatar>
    <div class="post-header" (click)="openUserPage()">
      <h4 class="post-username">{{ post.user.username }}</h4>
      <p class="post-date">{{ post.created | date: 'short' }}</p>
    </div>
  </ion-item>
  <ion-card-content (click)="openPost()">
    {{ post.body }}
  </ion-card-content>
  <div class="icons">
    <ion-item lines="none">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="crop"></ion-icon>
        3
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
        1
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
        {{ post.likes }}
      </ion-button>
    </ion-item>
  </div>
</ion-card>
