.icons {
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
}

.icons:first-child {
  margin-left: 24px;
}

.icons:last-child {
  margin-right: 24px;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-username {
  margin-bottom: 0;
}

.post-date {
  margin-top: 0;
  font-size: 12px;
  font-style: italic;
}

ion-spinner {
  height: 40%;
  display: block;
  margin: auto;
}

.comment-form {
  position: fixed;
  bottom: 0;
  width: 96%;
  margin-left: 2%;
  border-radius: 20px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid var(--ion-color-primary);
}

.btn-comment {
  position: absolute;
  right: 10px;
  bottom: 7px;
  z-index: 9999;
}

:host {
  padding-bottom: 60px;
}
