.icons {
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
}

.icons:first-child {
  margin-left: 24px;
}

.icons:last-child {
  margin-right: 24px;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-username {
  margin-bottom: 0;
}

.post-date {
  margin-top: 0;
  font-size: 12px;
  font-style: italic;
}

ion-spinner {
  height: 40%;
  display: block;
  margin: auto;
}
