<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="isMyProfile" side="start" type="overlay"></ion-menu-button>
      <ion-back-button *ngIf="!isMyProfile"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ion-grid fixed style="border-bottom: 1px solid black">
    <ion-row>
      <ion-col size="3">
        <ion-avatar style="padding: 10px 0 0 10px;" no-margin>
          <img src="https://placekitten.com/100/100" alt="user-avatar" />
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <div>
          <h1 no-margin>{{ user.firstName }} {{ user.lastName }}</h1>
          <h2 no-margin>@{{ user.username }}</h2>
          <ion-button *ngIf="canFollow" (click)="onFollow()" fill="outline">
            Follow
          </ion-button>
          <ion-button *ngIf="!canFollow" (click)="onUnfollow()" fill="solid">
            Following
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <p margin>
      {{ user.bio }}
    </p>
    <div
      style="display: flex; justify-content: space-between; flex-direction: column; margin: 0; padding: 0"
    >
      <small style="font-size: small; height: min-content; margin-left: 10px">
        <ion-icon name="home" size="small"></ion-icon>
        {{ user.location }}
      </small>
      <small style="font-size: small; height: min-content; margin-left: 10px">
        <ion-icon name="calendar" size="small"></ion-icon>
        Joined {{ user.joinedDate | date: 'MMM y' }}
      </small>
      <ion-item lines="none" style="display: flex; justify-content: space-evenly;">
        <ion-label> {{ user.following }} Following</ion-label>
        <br />
        <ion-label> {{ user.followers }} Followers</ion-label>
      </ion-item>
    </div>
  </ion-grid>
  <ion-list-header> POSTS</ion-list-header>
  <app-post-item *ngFor="let post of user.posts" [post]="post"></app-post-item>
</ion-content>
